<div class="widget-bd" style="position: relative;">
  <div id="myWeiboLoading" class="text-center" style="position:absolute;top:0;left:0;right:0;bottom:0;line-height:50px;font-size:12px;background-color:#fff;z-index:9;">微博加载中...</div>
  <%- theme.weibo_show.code %>
  <script>
  (function () {
    var oMyWeibo = document.getElementById('myWeibo');
    var oMyWeiboLoading = document.getElementById('myWeiboLoading');
    var isIE = /msie/i.test(navigator.userAgent) && !window.opera;
    var timer = null;
    if (isIE) {
      oMyWeibo.onreadystatechange = function(){
        if(oMyWeibo.readyState === 'loaded' || oMyWeibo.readyState === 'complete'){
          timer = setTimeout(function () {
            oMyWeiboLoading.parentNode.removeChild(oMyWeiboLoading);
            timer = null;
          }, 300);
        }
      };
    } else {
      oMyWeibo.onload = function () {
        timer = setTimeout(function () {
          oMyWeiboLoading.parentNode.removeChild(oMyWeiboLoading);
          timer = null;
        }, 300);
      };
    }
  })();
  </script>
</div>