<!-- 文章标签 -->
<div class="widget-bd tag-wrap">
  <%
  site.tags.forEach(function (tag, index) {
    if (index < 39) {
  %>
    <a class="tag-item" href="<%= url_for(tag.path) %>" title="<%= tag.name %>"><%- tag.name %> (<%- tag.length %>)</a>
  <%
    }
  }); 
  %>
</div>