<!-- 自定义关于页 -->

<p style="font-weight: bold;">
    <span class="icon-cogs"></span>
    关于我
</p>

<ul style="list-style-type: none;">
    <li>
        <a href="/resume" target="_blank"><span class="icon-profile"></span> 查看个人简历</a>
    </li>
    <li>
        <span class="icon-office"></span>
        2014年7月，毕业于中南民族大学
    </li>
    <li>
        <span class="icon-newspaper"></span>
        现工作于深圳，任职前端开发
    </li>
    <li>
        <span class="icon-envelop"></span>
        联系邮箱 jangdelong#qq.com（'#'改为'@'）
    </li>
</ul>

<p style="font-weight: bold;">
    <span class="icon-cogs"></span>
    关于博客
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-files-empty"></span>
        博客采用<a href="https://hexo.io/">Hexo</a>静态博客系统、主题为个人开发主题<a href="https://github.com/jangdelong/hexo-theme-xups" target="_blank">Xups</a>（风格参考<a href="http://themebetter.com/theme/xiu" target="大前端xiu主题">大前端WordPress主题</a>）
    </li>
    <li>
        <span class="icon-files-empty"></span>
        博客内容主要是学习工作过程中的一些Web总结和日志琐事，除非特殊声明，博客内容皆为个人原创，转载烦请标注文章来源
    </li>
       <li>
        <span class="icon-files-empty"></span>
        为了提升博客的访问速度，博客的字体文件以及绝大部分图片采用了CDN存储（<a target="_blank" href="http://www.qiniu.com/">七牛云存储</a>）
    </li>
</ul>

<p style="font-weight: bold;">
    <span class="icon-cogs"></span>
    Github账号
</p>

<ul style="list-style-type: none;">
    <li>
        <a href="https://github.com/jangdelong" target="_blank"><span class="icon-github"></span> 我的Github</a>
    </li>
</ul>
