<!-- 自定义留言页 -->

<p class="text-center">
    <img style="width: 258px; height: 258px; border: 1px solid #eee; padding: 0; border-radius: 3px;" src="<%- url_for('img/wechat_jelon.png') %>">
</p>

<p class="text-center">
    如有问题欢迎加我微信
</p>
<div class="comments" id="comments">
    <% if (theme.duoshuo.enable) { %>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="comment" data-title="<%- page.title %>" data-url="<%- post.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"<%- theme.duoshuo.short_name %>"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->
    <% } %>
</div>
