<!-- 自定义留言页 -->

<p class="text-center">
  <img style="width: 258px; height: 258px; border: 1px solid #eee; padding: 0; border-radius: 3px;" src="<%- url_for('img/wechat_pay.png') %>">
</p>

<p class="text-center">
  如果觉得博客对您有用，欢迎微信打赏
</p>
<% if (theme.comment.enable) { %>
  <%- partial('../_partial/post/comment') %>
<% } %>
