<!-- 自定义留言页 -->

<p class="text-center">
  <img style="width: 258px; height: 258px; border: 1px solid #eee; padding: 0; border-radius: 3px;" src="<%- url_for('img/wechat_jelon.png') %>">
</p>

<p class="text-center">
  加我请注明来源，否则拒接不加
</p>

<% if (theme.gentie.enable) { %>
  <div id="comments" class="comments cloud-tie-wrapper"></div>
  <script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "comment",
    productKey: "<%- theme.gentie.productKey %>",
    target: "comments"
  };
  var yunManualLoad = true;
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
  </script>
<% } %>