$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.6em
  h3
    font-size: 1.4em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: #999
  hr
    border: 1px dashed #ddd
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    padding: 0
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold
  table
    display: table;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #ddd;
    box-sizing: border-box;
    word-wrap: break-word;
    th, td
      border-bottom: solid 1px #ddd;
      border-right: solid 1px #ddd;
      padding: 5px 10px;
    thead tr
      background-color: #f6f6f6;
  blockquote
    margin 1em 0
    padding 5px 10px
    color #666
    border-left 2px solid #eee
