// 公共变量
c-333 = #333
c-444 = #444
c-555 = #555
c-666 = #666
c-999 = #999
c-aaa = #aaa
c-ccc = #ccc
c-ddd = #ddd
c-eee = #eee
c-fff = #fff
// 公共函数
text-center()
  text-align center
text-left()
  text-align left
text-right()
  text-align right
box-sizing()
  -ms-box-sizing arguments
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  -o-box-sizing arguments
  box-sizing arguments
transition()
  -ms-transition: arguments
  -moz-transition arguments
  -webkit-transition arguments
  -o-transition arguments
  transition arguments
border-radius()
  -ms-border-radius arguments
  -moz-border-radius arguments
  -webkit-border-radius arguments
  -o-border-radius arguments
  border-radius arguments
transform()
  -ms-transform arguments
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  transform arguments
clearfix()
  clear both
  zoom 1

// 高亮样式变量
$code-font-size          = 13px
$line-height-code-block  = 1.6
$code-font-family        = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace
$gainsboro               = #eee
$border-color            = #ccc
$content-desktop-padding = 15px
$font-family-base        = Consolas, Monaco, Menlo, monospace
$font-family-monospace   =  monospace