/*!
 * 网站字体及icon
 * $CDN = hexo-config("CDN") || '//7xs305.com1.z0.glb.clouddn.com/'
 */
$CDN = hexo-config("CDN") || './fonts/'

@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/light.ttf'),url($CDN + 'homizio-nova/light.otf')
  font-weight normal
  font-style normal
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/light_italic.ttf'),url($CDN + 'homizio-nova/light_italic.otf')
  font-weight normal
  font-style italic
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/regular.ttf'),url($CDN + 'homizio-nova/regular.otf')
  font-weight bold
  font-style normal
@font-face
  font-family "HomizioNova"
  src url($CDN + 'homizio-nova/italic.ttf'),url($CDN + 'homizio-nova/italic.otf')
  font-weight bold
  font-style italic
@font-face
  font-family 'icomoon'
  src url($CDN + 'icomoon/icomoon.eot?e2xg5y'), url('./fonts/icomoon/icomoon.eot?e2xg5y')
  src url($CDN + 'icomoon/icomoon.eot?#iefixe2xg5y') format('embedded-opentype'),
      url($CDN + 'icomoon/icomoon.woff?e2xg5y') format('woff'),
      url($CDN + 'icomoon/icomoon.ttf?e2xg5y') format('truetype'),
      url($CDN + 'icomoon/icomoon.svg?e2xg5y#icomoon') format('svg'),
      url('./fonts/icomoon/icomoon.eot?#iefixe2xg5y') format('embedded-opentype'),
      url('./fonts/icomoon/icomoon.woff?e2xg5y') format('woff'),
      url('./fonts/icomoon/icomoon.ttf?e2xg5y') format('truetype'),
      url('./fonts/icomoon/icomoon.svg?e2xg5y#icomoon') format('svg')
  font-weight normal
  font-style normal
[class^="icon-"],[class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.icon-home:before
  content "\e900"
.icon-office:before
  content "\e903"
.icon-newspaper:before
  content "\e904"
.icon-profile:before
  content "\e923"
.icon-files-empty:before
  content "\e925"
.icon-price-tags:before
  content "\e936"
.icon-envelop:before
  content "\e945"
.icon-bubble:before
  content "\e96b"
.icon-comment:before
  content "\e96d"
.icon-about:before
  content "\e976"
.icon-cogs:before
  content "\e995"
.icon-paragraph-justify:before
  content "\ea7a"
.icon-lab:before
  content "\ea80"
.icon-github:before
  content "\eab1"