/*!
 * 全局样式
 */
.container
  max-width 1180px
  _width 1180px
  background-color c-fff
  margin 0 auto 10px
  text-left()
.home
  //margin-top 78px
  background-color c-eee
.btn
  background-color #ff5e52
  border 0
  color c-fff
  opacity .8
  box-sizing border-box
  &:hover
    opacity .75
.btn-ok
  background-color #ff5e52
.btn-cancel
  background-color #51cc87
.form-control
  box-sizing border-box

.browsehappy
  padding 8px 0
  background #fbe3e4
  color #8a1f11
  text-align center