<footer class="footer">
    &copy;
    <% if (new Date().getFullYear() == 2016) { %>
        <%- new Date().getFullYear() %>
    <% } else { %>
        2016-<%- new Date().getFullYear() %>
    <% } %>

    <a href="<%- url_for() %>">Jelon Loves You</a>
</footer>
<div class="back-to-top" id="JELON__backToTop" title="返回顶部">返回顶部</div>
<!-- 添加百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

