/*!
 * Article
 */
.article-nav
  padding-bottom 10px
  color #888
.article-share
  padding 0 0 10px
.body
  box-shadow 0 1px 5px rgba(0, 0, 0, .08)
.article
  padding-top 0 !important
  padding-bottom 10px
  border-bottom 0
.comments
  margin-top 20px
.page-navigator
  margin 1em 0
  padding 0 20px
  list-style none
  .extend
  .page-number
    display inline-block
    margin-right 10px
    padding 3px 10px
    background-color c-eee
    opacity .8
    &.current
      color c-fff
      background-color #ff5e52
      cursor not-allowed
  .extend
  a.page-number
    transition .5s linear
    &:hover
      color c-444
      background-color c-ccc
