/*!
 * Article
 */
.article-nav
  padding-bottom 10px
  color #888
.article-share
  padding 0 0 15px
  .share-area
    height 24px
    line-height 24px
    margin 0 auto
    padding-left 10px
    text-align left
    border-left 3px solid rgba(255, 153, 153, .8)
    .share-txt
      float left
      height 24px
      line-height 24px
      margin-right 5px
      font-size 12px
      color c-999
    .share-icon
      float left
      display inline-block
      width 24px
      height 24px
      margin-right 10px
      background url(../img/share.png) no-repeat 0 0
      opacity .9
      &:hover
        opacity .7
      &.weibo
        background-position 0 0
      &.wechat
        background-position 0 -32px
      &.qqzone
        background-position 0 -65px
      &.qq
        background-position 0 -98px
      &.douban
        background-position 0 -324px
.body
  box-shadow 0 1px 5px rgba(0, 0, 0, .08)
.article
  padding-top 0 !important
  padding-bottom 10px
  border-bottom 0
.comments
  margin-top 20px
.page-navigator
  margin 1em 0
  padding 0 20px
  list-style none
  .extend
  .page-number
    display inline-block
    margin-right 10px
    padding 3px 10px
    background-color c-eee
    opacity .8
    &.current
      color c-fff
      background-color #ff5e52
      cursor not-allowed
  .extend
  a.page-number
    transition .5s linear
    &:hover
      color c-444
      background-color c-ccc
  .space
    display inline-block
    margin-right 10px
    padding 3px 0
