/*!
 * 底部
 */
.footer
  padding 30px
  color c-aaa
  background-color c-444
  font-size 12px
  text-center()
  opacity .9
  a
    color c-aaa
.back-to-top {
    display: none;
    width: 40px;
    height: 39px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #000 url(../img/scrolltoparrow.png) no-repeat center center;
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    opacity: .20;
    filter: Alpha(opacity=20) !important;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 5
}