/*!
 * Sidebar
 */
.sidebar
  float left
  width 330px
  margin-left -350px
  padding-top 20px
  padding-bottom 20px
  .widget
    position relative
    margin-bottom 20px
    clear both
.widget
  ul
    margin 0
    padding 0
  .widget-hd
    margin 0
    padding 0
    border-bottom 2px solid c-eee
    strong
      position relative
      display inline-block
      bottom -2px
      color #444
      border-bottom 2px solid #ff5e52
      font-weight normal
    .logout
      position relative
      bottom -2px
      font-size 14px
      font-weight normal
      text-decoration underline
      &:hover
        text-decoration none
  .widget-bd
    margin 0
    padding 0
    list-style none
    li
      display block
      padding 10px 0
      line-height 1.5
      border-bottom 1px solid c-eee
      font-size 12px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      a .avatar
        float left
        width 36px
        height 36px
        margin-right 10px
        border-radius 50%
        transform rotate(0)
        transition .5s
      a:hover .avatar
        transform rotate(360deg)
        opacity .85
      p
        margin 0
        padding 0
    .tag-item
      float left
      width 32.6666%
      margin 0 1% 1% 0
      padding 0 8px
      line-height 29px
      font-size 12px
      color c-999
      background-color #f6f6f6
      -webkit-box-sizing border-box
      box-sizing border-box
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      -webkit-transition .5s
      -ms-transition .5s
      -moz-transition .5s
      transition .5s
      &:hover
        color #fff
        background-color #ff5e52
        opacity .85;
    .tag-item:nth-child(3n+0)
      margin-right 0
  .tag-wrap
    padding 10px 0 0
    overflow hidden
